* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

a {
    text-decoration: none;
}

.purple {
    color: #6415ff;
}

.section-tag {
    color: #6415ff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1pt;
    margin-bottom: 24px;
}

.section__title {
    color: rgb(56, 73, 112);
    font-weight: 1000;
    letter-spacing: 1pt;
    margin-bottom: 24px;
    font-size: 48px;
}

.section__para {
    color: rgb(132, 140, 168);
    max-width: 568px;
    text-align: center;
    letter-spacing: .1pt;
    font-weight: 600;
    line-height: 1.75;
}

/*

NAVIGATION

*/

nav {
    display: flex;
    padding-top: 32px;
}
.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.menu--open .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}


.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 14px;
    color: rgb(67, 75, 94);
    letter-spacing: 1px;
}

.nav__link {
    text-decoration: none;
    padding-bottom: 4px;
    font-weight: 600;
    margin-left: 40px;
    font-size: 14px;
    color: rgb(101, 100, 100);
    border-bottom: 2px transparent;
    transition: all 300ms ease;
}

.nav__link:hover:not(:last-child) {
    border-bottom: 2px solid #6415ff;
}

.nav__link--login {
    margin-left: 60px;
}

.nav__link--primary {
    color: white;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 20px;
    margin-left: 16px;
}

.nav__link--primary:hover {
    background-color: #5018c2;
}

/*

LANDING

*/

.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    max-width: 500px;
    width: 40%;
    padding-right: 48px;
}

.landing__header {
    font-size: 48px;
    margin-bottom: 24px;
    letter-spacing: .75px;
}

.landing__description {
    font-size: 16px;
    color: rgb(83, 83, 83);
    margin-bottom: 24px;
    letter-spacing: .25px;
    line-height: 18pt;
}

.header__img--wrapper {
    display: flex;
    justify-content: right;
    width: 60%;
}

.header__img {
    max-width: 600px;
    margin-right: 0;
}

.header__contact {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}


.header__email:hover {
    border-color: grey;
}

.header__button {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__button:hover {
    background-color: #5018c2;
    cursor: pointer;
}

.customers__sub-heading {
    margin-top: 54px;
    font-size: 12px;
    color: grey;
}

.logo-strip {
    margin-top: 24px;
    width: 400px;
    filter: grayscale(1);
}

/*

FEATURES

*/

.row_narrow {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-top: 60px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
   display: flex;
   align-items: flex-start;
   margin: 0 16px;
   padding: 32px 8px;
}

.feature__img--wrapper {
    padding: 20px;
    border: 1px solid rgb(228, 230, 236);
    border-radius: 50px;
    margin-right: 16px;
}

.feature__img {
    color: #6415ff;
    width: 24px;
    height: 24px;
}

.feature__title {
    letter-spacing: 1;
    color: rgb(56, 73, 112);
}

.feature__para {
    line-height: 2;
    margin-top: 16px;
    font-weight: 600;
    color: rgb(148, 158, 180);
}

/*

QUALITY

*/

.quality__text--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 40%;
}

.learn-more__button {
    color: white;
    background-color: #6415ff;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    width: 140px;
}

.learn-more__button:hover {
    background-color: #5018c2;
}

.quality__section--para {
    color: rgb(132, 140, 168);
    letter-spacing: .1pt;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 32px;
}

.quality__img--wrapper{
    display: flex;
    justify-content: end;
    width: 60%;
}

.quality__img {
    max-width: 600px;
    padding-left: 54px;
    padding-right: 0;
}

/*

STEPS

*/

.steps__img--wrapper {
    width: 60%;
}

.steps__img {
    max-width: 500px;
    padding-right: 36px;
}

.step {
    display: flex;
    align-items: flex-start;
    padding: 24px 0 24px 0;
}

.step__number {
    font-size: 36px;
    color: rgb(205, 210, 214);
    margin-right: 24px;
    font-weight: 600;
    letter-spacing: 1pt;
}

.step__text--wrapper {
    max-width: 400px;
}

.step__title {
    font-size: 22px;
    letter-spacing: .5pt;
    padding-bottom: 16px;
    color: rgb(56, 73, 112);
}

.step__para{
    line-height: 1.5;
    font-weight: 500;
    color: rgb(132, 140, 168);
}

/*

VALUES

*/

.values__text--wrapper {
    width: 50%;
    padding-right: 24px;
}

.values__img--wrapper {
    width: 40%;
}

.values__img {
    max-width: 600px;
}

.values__para {
    line-height: 1.5;
    color: rgb(132, 140, 168);
    padding-right: 36px;
    font-weight: 800px;
    font-size: 20px;
}

.values__list {
    display: flex;
    margin-top: 36px;
    margin-bottom: 26px;
}

.value__bullet {
    padding-right: 24px;
}

.value__title--wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
}

.value__img--wrapper {
    margin-right: 16px;
}

.value__img--affordable {
    border-radius: 50%;
    padding: 8px;
    background-color: rgb(172, 221, 173);
}

.value__img--professionalism {
    border-radius: 50%;
    padding: 8px;
    background-color: rgb(252, 190, 190);
}

.value__bullet--title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(56, 73, 112);
    letter-spacing: 1;
}

.value__para {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(132, 140, 168);
}

.values__button {   
    color: white;
    background-color: #6415ff;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    width: 140px;
}

.values__button:hover {
    background-color: #5018c2;
}

/*

PRICING

*/


.pricing__text--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__description {
    line-height: 1.5;
    color: rgb(132, 140, 168);
    padding-right: 36px;
    font-weight: 800px;
    font-size: 18px;
    width: 55%;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.plan {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    border-radius: .5rem;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 2rem;
    padding-top: .5rem;
    color: rgb(26, 32, 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 2rem;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2n+1) .plan__name, .plan:nth-child(2n+1) .plan__price, .plan:nth-child(2n+1) .plan__target {
    color: rgb(26, 32, 44);
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0px;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: rgb(113, 128, 150);
    font-size: 16px;
    line-height: 1.5;
}

.plan__button {
    font-weight: 700;
    width: 100%;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 1rem 2rem;
    transition: 300ms;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0;
}

.plan__button:hover {
    transform: translateY(-1px) translateX(1px);
    box-shadow: 0 12px 15px rgba(0, 0, 0, .1);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: rgb(247, 250, 252);
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) .plan__button {
    color: rgb(100, 21, 255);
    background-color: rgb(247, 250, 252);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*

TESTIMONIALS

*/

.testimonials__img--wrapper {
    width: 50%;
    margin-right: 8rem;
}

.testimonials__img {
    width: 100%;
}

.testimonials__text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.author__img--wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
}

.testimonial__author--img {
    width: 100%;
    height: auto;
}

.testimonials__description {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(132, 140, 168);
}

.stars {
    color: rgb(255, 208, 0);
}

.testimonials {
    position: relative;
    margin-top: 3rem;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(56, 73, 112);
    letter-spacing: 1;
    margin-bottom: 8px;
}

.testimonial__para {
    line-height: 1.5;
}

.testimonial__author {
    display: flex;
    justify-content: left;
    align-items: center;
}

.testimonial__author--name {
    font-size: 20px;
    font-weight: 700;
    color: rgb(56, 73, 112);
    letter-spacing: 1;
    margin-bottom: 8px;
}

.testimonial__title, .testimonial__para, .testimonial__author {
    margin-top: 1.75rem;
}

.testimonial__buttons {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 1rem;
    transition: background-color 1s ease;
}

.testimonial__button--left:hover, .testimonial__button--right:hover {
    cursor: pointer;
    background-color: rgb(241, 239, 239);
}

.testimonial__button--left, .testimonial__button--right {
    background-color: rgb(238, 243, 244);
    color: #6415ff;
    border-radius: 50%;
    padding: 16px;
}

.testimonial__button--left {
    margin-right: 24px;
}

/*

START

*/

.start__container {
    background-color: #6415ff;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.start__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-right: 48px;
    padding-left: 48px;
}

.start__buttons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.start__title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .75px;
    line-height: 1.5;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
    }

.start__button {
        height: 66px;
        width: 172px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
}

.start__button:nth-child(1) {
    background-color: rgb(252, 104, 104);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    margin-right: 36px;
    transition: all .6s ease;
}
.start__button:nth-child(2) {
    border: 1px solid rgb(255, 253, 253);
    transition: all .6s ease;
}

.start__button:nth-child(1):hover {
    background-color: rgb(254, 63, 63);
    cursor: pointer;
}

.start__button:nth-child(2):hover {
    color:#6415ff;
    background-color: white;
    cursor: pointer;
}

.footer__row {
    width: 100%;
    background-color: #6415ff;
    margin-top: 200px;
}

.footer__columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    margin: 0 48px;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__column--title {
    color: white;
    font-weight: 700;
    letter-spacing: 1;
    margin-bottom: 24px;
    font-size: 16px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

.footer__column--link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}

.footer__column--link:hover::after {
    opacity: 1;
}

.footer__divider {
    width: 100%;
    margin: 64px 0;
    height: 2px;
    background-color: rgba(255,255,255,0.3)
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
    padding-bottom: 84px;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    color: white;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-left: 8px;
}

.footer__copyright {
    color: white;
    font-weight: 5400;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

}

.footer__social--link:hover {
    background-color: rgb(210, 209, 209);
}

.footer__social--icon {
    height: 16px;
}

/*

MOBILE RESPONSIVENESS

*/

@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {
    
    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }

    .container {
        padding: 72px 0;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;
    }

    .nav__row {
        flex-direction: row;
    }

    .section__title {
        text-align: center;
    }

    .section-tag {
        text-align: center;
    }

    .landing {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .landing__header {
        font-size: 28px;
        text-align: center;
    }

    .header__contact {
        align-items: center;
        width: 100%;
    }

    .landing__description {
        font-size: 15px;
    }

    .header__description {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
    }

    .header__img--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
    }
    .header__img, .values__img {
        height: 30vw;
        align-items: center;
    }

    .features {
        display: flex;
        flex-wrap: wrap;
    }

    .feature {
        width: calc(100%/2);
        padding: 10px;
        box-sizing: border-box;
    }

    .quality__text--wrapper, .values__text--wrapper {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .quality__section--para, .values__para, .testimonials__description {
        text-align: center;
    }

    .section__title {
        font-size: 32px;
    }

    .quality__img--wrapper, .steps__img--wrapper, .values__img--wrapper, .testimonials__img--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 54px;
        margin-right: 0;
    }

    .quality__img {
        padding: 0;
        margin: 0;
    }

    #testimonials .row {
        flex-direction: column-reverse;
        align-items: center;
    }

    #quality .row {
        flex-direction: column;
        align-items: center;
    }

    #values .row {
        flex-direction: column;
        align-items: center;
    }

    #steps .row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .steps__text--wrapper {
        align-items: center;
        justify-content: center;
    }

    .values__button {
        align-items: center;
    }

    .plans {
        display: flex;
        flex-direction: column;
    }

    .start__row {
        justify-content: center;
    }

    .start__title {
        font-size: 28px;
        margin-bottom: 36px;
        text-align: center;
    }


@media(max-width: 768px) {

    #pricing .row {
        margin-top: 40px;
    }
    .testimonial__buttons {
        position: static;
        margin-top: 24px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }


    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }

    .header__contact {
        flex-direction: column;
        height: auto;
    }

    .header__email {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }
    

    .header__button {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .feature {
        width: calc(100%/1);
    }

    
}