* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 120px;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
}

a {
    text-decoration: none;
}

.purple {
    color: #6415ff;
}

.section-tag {
    color: #6415ff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1pt;
    margin-bottom: 24px;
}

.section__title {
    color: rgb(56, 73, 112);
    font-weight: 1000;
    letter-spacing: 1pt;
    margin-bottom: 24px;
    font-size: 48px;
}

.section__para {
    color: rgb(132, 140, 168);
    max-width: 568px;
    text-align: center;
    letter-spacing: .1pt;
    font-weight: 600;
    line-height: 1.75;
}

/*

NAVIGATION

*/

.nav__row {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    margin-top: 32px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 14px;
    color: rgb(67, 75, 94);
    letter-spacing: 1px;
}

.nav__link {
    text-decoration: none;
    padding-bottom: 4px;
    font-weight: 600;
    margin-left: 40px;
    font-size: 14px;
    color: rgb(101, 100, 100);
    border-bottom: 2px transparent;
    transition: all 300ms ease;
}

.nav__link:hover:not(:last-child) {
    border-bottom: 2px solid #6415ff;
}

.nav__link--login {
    margin-left: 60px;
}

.nav__link--primary {
    color: white;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 20px;
    margin-left: 16px;
}

.nav__link--primary:hover {
    background-color: #5018c2;
}

/*

LANDING

*/

.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    max-width: 500px;
    width: 40%;
    padding-right: 48px;
}

.landing__header {
    font-size: 48px;
    margin-bottom: 24px;
    letter-spacing: .75px;
}

.landing__description {
    font-size: 16px;
    color: rgb(83, 83, 83);
    margin-bottom: 24px;
    letter-spacing: .25px;
    line-height: 18pt;
}

.header__img--wrapper {
    display: flex;
    justify-content: right;
    width: 60%;
}

.header__img {
    max-width: 600px;
    margin-right: 0;
}

.header__contact {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email:hover {
    border-color: grey;
}

.header__button {
    border: none;
    margin: 8px;
    height: calc(100%-16px);
    width: 160px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #6415ff;
    padding: 14px 30px;
    border-radius: 500px;
    z-index: 2;
    transition: all 300ms
}

.header__button:hover {
    background-color: #5018c2;
    cursor: pointer;
}

.customers__sub-heading {
    margin-top: 54px;
    font-size: 12px;
    color: grey;
}

.logo-strip {
    margin-top: 24px;
    width: 400px;
    filter: grayscale(1);
}

/*

FEATURES

*/

.row_narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-top: 60px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
   display: flex;
   align-items: flex-start;
   margin: 0 16px;
   padding: 32px 8px;
}

.feature__img--wrapper {
    padding: 20px;
    border: 1px solid rgb(228, 230, 236);
    border-radius: 50px;
    margin-right: 16px;
}

.feature__img {
    color: #6415ff;
    width: 24px;
    height: 24px;
}

.feature__title {
    letter-spacing: 1;
    color: rgb(56, 73, 112);
}

.feature__para {
    line-height: 2;
    margin-top: 16px;
    font-weight: 600;
    color: rgb(148, 158, 180);
}