* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    max-width: 1200;
    margin: 0 auto;
    padding: 48px
}

/*

NAVIGATION

*/

.nav__row {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    margin-top: 24px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 14px;
    color: rgb(67, 75, 94);
    letter-spacing: 1px;
}

.nav__link {
    text-decoration: none;
    padding-bottom: 4px;
    font-weight: 600;
    margin-left: 40px;
    font-size: 14px;
    color: rgb(101, 100, 100);
    border-bottom: 2px transparent;
    transition: all 300ms ease;
}

.nav__link:hover {
    border-bottom: 2px solid #6415ff;
}

.nav__link--login {
    margin-left: 60px;
}

.nav__link--primary {
    color: white;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 20px;
    margin-left: 16px;
}

.nav__link--primary:hover {
    background-color: #5018c2;
}